extends layout

block content
  h1= title

  p Drag out your hours to enter them

  .container
    .row
      .col-md-12
        for project in projects
          button.btn.btn-default(style="background-color: #{project.color}; color: #fff") #{project.title}

  div#calendar

  div#projectModal.modal.fade
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Projects
        form(class="form-horizontal", action="/crudProject", method="post")
          div.modal-body

            div.form-group
              label(class="col-md-4 control-label", for="projectTitle") Title
              div.col-md-6
                input(id="projectTitle", name="projectTitle", placeholder="enter title", class="form-control input-md", required="", type="text")

          div.modal-footer
            button(type="button", class="btn btn-default", data-dismiss="modal") Close
            input(type="submit", class="btn btn-primary", value="Add Project")


  div#taskModal.modal.fade
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Add Hours
        form(class="form-horizontal", action="/addTask", method="post")
          div.modal-body

            div.form-group
              label(class="col-md-4 control-label", for="taskTitle") Task
              div.col-md-6
                input(id="taskTitle", name="taskTitle", placeholder="enter task", class="form-control input-md", required="", type="text")

            div.form-group
              label(class="col-md-4 control-label", for="project") Project
              div.col-md-6
                select(name="project", class="form-control")
                  option none
                  for project in projects
                    option(value="#{project._id}") #{project.title}

            div.form-group
              input(type="hidden", name="days")
              label(class="col-md-4 control-label") date
              label(class="col-md-4 control-label") start
              label(class="col-md-4 control-label") end

            div#dateTimeContainer

          div.modal-footer
            button(type="button", class="btn btn-default", data-dismiss="modal") Close
            input(type="submit", class="btn btn-primary", value="Save changes")


  <!-- display:none -->
  div#taskDateTime
    div.form-group
      div.col-md-6
        div.input-group
          input(name="date", class="form-control", placeholder="enter start", required="", type="text")
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
      div.col-md-3
        div.input-group
          input(name="start", class="form-control", placeholder="enter start", required="", type="text")
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
      div.col-md-3
        div.input-group
          input(name="end", class="form-control", placeholder="enter start", required="", type="text")
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
  <!-- end display:none -->
          
  script(type='text/javascript').
    window.events = !{JSON.stringify(events)};
    window.projects = !{JSON.stringify(projects)};
    window.dbError = !{JSON.stringify(dbError)};
